/* General */
* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Merriweather , Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */

h1 {
    font-size: x-large;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #2d3945;
}

.main-heading {
    background-color: #2d3945;
    text-transform: uppercase;
    color: white;
    margin: 0 auto;
}

.promo {
    margin-bottom: 25px;
}

.promo-title {
    color: #2d3945;
    margin-bottom: 25px;
}

.promo-paragraph {
    margin-left: 10px;
    margin-right: 10px;
    line-height: 1.6rem;
}

p{
    color: #9da3a8;
    font-weight: bold;
}


/* Form */

.form-paragraph {
    color: #9da3a8;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
}

.line1 {
    border: 3px solid black;
    width: 90%;
}

.line2 {
    border: 1px solid black;
    width: 90%;
    margin-bottom: 25px;
}


form {
    text-align: left;
}

label {
    color: #9da3a8;
    margin-bottom: 15px;
}

.form-container:not(:first-of-type) {
    margin-top: 20px;
}


fieldset {
    border: none;
}

legend:first-of-type {
    margin-bottom: 30px;
}

legend {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
}



input {
    padding: 18px 35px;
    background-color: #eff0f1;
    border: none;
}

select {
    padding: 15px 20px;
    background-color: #eff0f1;
    border: none;
}

input, 
textarea {
    transition: 1s;
    
}

input:focus,
textarea:focus {
    transform: scale(1.02);
    outline: none;
    border: 3px solid rgba(0,0,0,0.03);
}

input[type="checkbox"]:not(:first-of-type),
input[type="radio"]:not(:first-of-type) {
    margin-top: 15px;
}

input[type="radio"]:last-of-type {
    margin-bottom: 25px;
}

.checkbox-label,
.radio-label {
    margin-left: 10px;
}

input::placeholder {
    text-align: right;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#zipcode {
    width: 40%;
}

textarea {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin-top: 25px;
  outline: 0;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.format {
    margin-top: 20px;
}

.submit-button {
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    margin: auto;
    border: none;
    border-radius: 10px;
    background-color: #4abbb5;
    color: white;
    font-size: 20px;
    width: 90%;
}

.submit-button:hover {
    opacity: 0.75;
    cursor: pointer;
    
}

.newsletter-paragraph {
    line-height: 1.6rem;
}


.newsletter p:nth-of-type(2) {
    margin-top: 30px;
}

input[type="checkbox"]:checked + label {
    font-weight: bold;
}

input[type="radio"]:checked + label {
    font-weight: bold;
}

footer {
    margin-bottom: 20px;
}


@media screen and (min-width: 768px){
    main {
        padding: 30px 100px;
    }

    #fname,
    #email,
    #street,
    #city,
    #telephone {
        max-width: 90%;
    }

    .form-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .form-container:not(:last-of-type) {
        margin-bottom: 30px;
    }

    .form-container label {
        flex-grow: 1;
        align-self: center;
    }

    .form-container input,
    .form-container select {
        flex-basis: 70%;
        
    }


    
}