/* General */

body {
    text-align: center;
}

/* Header */

.title {
    padding: 20px 60px;
    background-color: #2d3945;
}


.main-heading {
    background-color: #2d3945;
    text-transform: uppercase;
    color: white;
    margin: 0 auto;
}

.promo {
    margin-bottom: 25px;
}

.promo-title {
    color: #2d3945;
}

p{
    color: #9da3a8;
    font-weight: bold;
}

.form-paragraph {
    color: #9da3a8;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
}

.line1 {
    border: 3px solid black;
    width: 90%;
}

.line2 {
    border: 1px solid black;
    width: 90%;
    margin-bottom: 25px;
}

.contact-info {
    padding: 5px 20px;
    text-align: left;
}

label {
    color: #9da3a8;
    margin-bottom: 15px;
}

.form-container:not(:first-of-type) {
    margin-top: 20px;
}
fieldset {
    border: none;
}

legend {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
}

input {
    padding: 15px 40px;
    background-color: #eff0f1;
    border: none;
    border-radius: 2%;
}

input[type="checkbox"]:not(:first-of-type),
input[type="radio"]:not(:first-of-type) {
    margin-top: 15px;
}

input[type="radio"]:last-of-type {
    margin-bottom: 25px;
}

.checkbox-label,
.radio-label {
    margin-left: 10px;
}

input::placeholder {
    text-align: right;
}

.form-container {
    display: flex;
    flex-direction: column;
}

#zipcode {
    width: 20%;
}

select {
    padding: 15px 40px;
    background-color: #eff0f1;
    border: none;
    border-radius: 2%;
}

textarea {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin-top: 15px;
  outline: 0;
  width: 90%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

.submit-button {
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    margin: auto;
    border: none;
    border-radius: 10px;
    background-color: #4abbb5;
    color: white;
    font-size: 20px;
}

.submit-button:hover {
    opacity: 0.75;
    cursor: pointer;
    
}

@media screen and (min-width: 768px){
    main {
        padding: 50px 200px;
    }
}